body {
  background-color:#ffdee0;
  margin:auto;
  text-align:center;
  font-family:cursive;
}
button {
  background-color:transparent;
  border-radius:10px;
  display:block;
  margin:auto;
  margin-bottom:20px;
  margin-top: 20px;
}
button:hover {
  cursor:pointer;
  background-color:ffffff;
}
div.bird {
  background-color:#dfaed7;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
}
label {
  margin: 10px;
}
input {
  border-radius:10px;
  background-color:transparent;
}
table {
  margin:auto;
  border:1px solid black;
  border-radius: 5px;
}
td {
  text-align: center;
  border: 1px solid black;
  border-radius:5px;
}